// Widescreen

@include mediaWide {
  header {
    div.container {
      h1.wide {
        font-size: 4.65rem;
      }

      p.wide {
        font-size: 2.54rem;
        top: 55.4%;
      }
    }
  }

  // grid

  #grid {
    .container {
      .grid-div {
        p.wide {
          font-size: 1.2rem !important;
          width: 85% !important;
          padding: 0 !important;
          margin-left: auto;
          margin-right: auto;
          line-height: 1.8rem !important;
        }
      }
    }
  }
}

// Media Xl

@include mediaXl {
  // Header

  header {
    div.container {
      h1 {
        font-size: 3.45rem;
        top: 37.5%;
      }

      p {
        font-size: 1.82rem;
        top: 54%;
      }
    }
  }

  // Grid
  #grid {
    .container {
      width: 65%;
    }

    .grid-div {
      p {
        padding: 0rem;
        font-size: 0.9rem !important;
      }
    }
  }
}

// Media Lg

@include mediaLg {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  // Header

  header {
    .container {
      position: relative;
      img {
        &.mobile {
          display: none;
        }

        &.desktop {
          display: block;
        }
      }

      h1 {
        font-size: 2.7rem;
        top: 38%;
      }

      p {
        font-size: 1.42rem;
        top: 53.5%;
      }
    }
  }

  // Grid

  #grid {
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .grid-div {
        position: relative;

        .grid-img {
          height: auto;
        }

        p {
          padding: 0 1.3rem;
          font-size: 1rem;
          line-height: 1.5rem;
        }

        .grid-btn {
          width: 50%;
          font-size: 0.8rem;
          padding: 0.6rem 0;
        }

        &:nth-child(2) .grid-btn,
        &:nth-child(3) .grid-btn {
          // position: relative;
          // top: 94px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

// Medium devices

@include mediaMd {
  header {
    .container {
      position: relative;

      img {
        &.mobile {
          display: none;
        }

        &.desktop {
          display: block;
        }
      }

      h1 {
        font-size: 1.7rem;
        top: 37.5%;
      }

      p {
        font-size: 0.82rem;
        top: 50%;
      }
    }
  }

  // Grid

  #grid {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 90%;
      margin: 0 auto;

      .grid-div {
        position: relative;

        img {
          height: auto;
          padding-bottom: 0;
        }

        p {
          font-size: 0.7rem;
          padding: 0 0.7rem;
          line-height: 1rem;
          margin-bottom: 0.55rem;
        }

        .grid-btn {
          width: 47%;
          font-size: 0.55rem;
          padding: 0.5rem 0;
          letter-spacing: 1.5px;
          margin-bottom: 15px;
        }

        &:nth-child(2) .grid-btn,
        &:nth-child(3) .grid-btn {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

// Small devices

@include mediaXs {
  // Header
  header {
    .container {
      //   background-position: 40% 55%;
      //   padding: 6.3rem 0rem;
      color: $primary-color;
      width: 100%;
    }

    h1 {
      margin: 0 auto;
      font-size: 3.7rem;
      // top: 11.5%;
      top: 115px;
    }

    p {
      font-size: 1.9rem;
      line-height: 2.8rem;
      // top: 30%;
      top: 295px;
    }
  }

  // Grid

  #grid {
    .grid-div {
      margin: 45px auto;

      .grid-img {
        height: 280px;
        margin-top: 25px;
      }

      p {
        padding: 0 2.4rem;
        font-size: 1.3rem;
        line-height: 1.95rem;
        margin: 18px 0px;
      }

      .grid-btn {
        width: 48%;
        padding: 0.9rem;
        font-size: 1.2rem;
        border-radius: 35px;
        margin-bottom: 25px;
      }
    }
  }
}
